*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --responsive-primary: #9792e4;
    --responsive-blue-dark: #0084fd;
    --responsive-blue-light: #b5ddff;
    --responsive-free: #fcc160;
    --responsive-darkest: #333333;
    --responsive-dark: #5b6f80;
    --responsive-lightest: white;
}

#site-header{
    background-color: var(--responsive-blue-dark);
    max-width: 1920px;
}

.d-flex{
    display: flex;
}

#container-header{
    width: 80%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    color: white;
    max-width: 1200px;
}

main{
    background-color: var(--responsive-primary);
}

.demo{
    padding-top: 2rem;
    background-color: var(--responsive-lightest);
}

#demo-card{
    flex-direction: column;
    row-gap: 3rem;
}

#inside-card{
    flex-wrap: wrap;
}

#demo-card button{
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--responsive-blue-dark);
    color: var(--responsive-lightest);
    font-size: 1.5rem;
}

#inside-card img{
    width: 100%;
}

#inside-card div:nth-child(2){
    justify-content: center;
    padding-top: 2rem;
}

.container{
    width: 100%;
    max-width: 1920px;
    margin: auto;
    padding: 3rem;
}

.row{
    flex-wrap: wrap;
    width: 80%;
    max-width: 1200px;
    margin: auto;
}

.card-container{
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    color: var(--responsive-dark);
}

.card-container .fa-solid{
    color: var(--responsive-blue-dark);
    font-size: 5rem;
}

.card-container h3{
    color: var(--responsive-blue-dark);
    font-size: 2rem;
}

.col-12{
    background-color: var(--responsive-blue-light);
    border-radius: 1.5rem;
    padding: 2.5rem;
    margin: 0.5rem;
}

.strategic-planning{
    background-color: var(--responsive-primary);
}

.strategic-planning div{
    background-color: inherit;
    color: var(--responsive-lightest);
}

.expert-partners{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
    padding: 0.5rem;
    width: 80%;
    margin: auto;
    background-color: var(--responsive-lightest);
}

.bio{
    background-color: var(--responsive-primary);
    padding: 1rem;
    border-radius: 1rem;
    justify-content: space-between;
}

.benefit{
    background-color: var(--responsive-primary);
    text-align: center;
}

.about-us{
    background-color: var(--responsive-lightest);
    text-align: center;
}

.free{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--responsive-primary);
    max-width: 768px;
    margin: auto;
    row-gap: 1rem;
    padding: 1rem;
}

#site-footer{
    background-color: var(--responsive-darkest);
    margin-bottom: -1.7rem;
}
.container-footer{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 768px;
    margin: auto;
    row-gap: 1rem;

}

@media screen and (min-width: 768) {
    .col-12 {
        width: calc((100% / 12) * 12 - 1rem);
    }
}

@media screen and (min-width: 992px) {
    .col-md-8 {
        width: calc((100% / 12) * 8 - 1rem);
    }

    .col-md-4 {
        width: calc((100% / 12) * 4 - 1rem);
    }

    .col-md-6 {
        width: calc((100% / 12) * 6 - 1rem);
    }
}

@media screen and (min-width: 1200px) {
    .col-lg-6 {
        width: calc((100% / 12) * 6 - 1rem);
    }

    .col-lg-4 {
        width: calc((100% / 12) * 4 - 1rem);
    }

    .col-lg-8 {
        width: calc((100% / 12) * 8 - 1rem);
    }
}



