*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 1px dashed black;
}

:root{
    --responsive-primary: #9792e4;
    --responsive-blue-dark: #0084fd;
    --responsive-blue-light: #b5ddff;
    --responsive-free: #fcc160;
    --responsive-darkest: #333333;
    --responsive-lightest: white;
}

#site-header{
    background-color: var(--responsive-blue-dark);
    margin-bottom: 2rem;
}

.d-flex{
    display: flex;
}

#container-header{
    width: 80%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    color: white;
    max-width: 1176px;
}

.container{
    width: 80%;
    max-width: 1176px;
    margin: auto;
    margin-bottom: 5rem;
}

.row{
    flex-wrap: wrap;
}


.col-12{
    background-color: var(--responsive-blue-light);
    border-radius: 1.5rem;
    padding: 1.5rem;
    margin: 0.5rem;

}

.strategic-planning{
    background-color: var(--responsive-primary);
}

.strategic-planning div{
    background-color: inherit;
    color: var(--responsive-lightest);
}

.expert-partners{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
    padding: 0.5rem;
}

.bio{
    background-color: var(--responsive-primary);
    padding: 1rem;
    border-radius: 1rem;
    justify-content: space-between;
}

.benefit{
    background-color: var(--responsive-primary);
    text-align: center;
}

@media screen and (min-width: 375px) {
    .col-12 {
        width: calc((100% / 12) * 12 - 1rem);
    }
}

@media screen and (min-width: 768px) {
    .col-md-8 {
        width: calc((100% / 12) * 8 - 1rem);
    }

    .col-md-4 {
        width: calc((100% / 12) * 4 - 1rem);
    }

    .col-md-6 {
        width: calc((100% / 12) * 6 - 1rem);
    }
}

@media screen and (min-width: 1024px) {
    .col-lg-6 {
        width: calc((100% / 12) * 6 - 1rem);
    }

    .col-lg-4 {
        width: calc((100% / 12) * 4 - 1rem);
    }

    .col-lg-8 {
        width: calc((100% / 12) * 8 - 1rem);
    }
}



